@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap');

:root {
  --color1: #1a2236;
}

h1 {
  width: 220px;
  height: 100px;
  left: 16px;
  top: 104px;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: var(--color1);
  left: 16px;
  Top: 224px;
  width: 288px;
  height: 126px;
}

.paragraph1 {
  width: 288px;
  height: 126px;
  left: 16px;
  top: 224px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: var(--color1);
}

.start {
  box-sizing: border-box;
  width: 288px;
  height: 50px;
  left: 16px;
  top: 390px;
  color: white;
  background-color: var(--color1);
}

body {
  background-image: url("./images/image_geometry_1.png");
  background-repeat: no-repeat;
}

.menu {
  width: 288px;
  text-align: right;
}
